<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Login page</title>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="main-content">
		<p th:if="${param.error}" class="error">Invalid email or password</p>
		<p th:if="${param.logout}" class = "success">You have been logout</p>
		<h3>Login to continue</h3>
		<form th:action="@{/login_user}" method = "POST">
			<input type="text" name="email" placeholder="Your Email" /><br />
			<input type="password" name="password" placeholder="Your password" /><br />
			<button type="submit">Login</button> <br />
		</form>
	</div>
</body>
</html>